{% extends 'base.html.twig' %}

{% block title %}ThingInstance{% endblock %}

{% block body %}
    <h1>ThingInstance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ thing_instance.id }}</td>
            </tr>
            <tr>
                <th>Serial</th>
                <td>{{ thing_instance.serial }}</td>
            </tr>
            <tr>
                <th>BorrowDate</th>
                <td>{{ thing_instance.borrowDate ? thing_instance.borrowDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ReturnDate</th>
                <td>{{ thing_instance.returnDate ? thing_instance.returnDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('thing_instance_index') }}">back to list</a>

    <a href="{{ path('thing_instance_edit', {'id': thing_instance.id}) }}">edit</a>

    {{ include('thing_instance/_delete_form.html.twig') }}
{% endblock %}
